body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #6b8aa7;
  color: #384959;
}

#main {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background-color: #beddfc;
  color: rgb(43, 42, 42);
  padding: 0.5rem;
  height: 300px;
  width: 250px;
  border: 0.3rem solid #384959;
  border-radius: 0.4rem;
}

.col1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.col1 img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 0.2rem solid #384959;
}

.col1 h2 {
  font-size: 1rem;
}

.col2 h3 {
  font-size: 1rem;
  font-weight: 900;
}
.col2 h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.col3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col3 .left {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.left .rate {
  font-size: 0.9rem;
}

.left p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.right button {
  background: transparent;
  border: 0.15rem solid #384959;
  border-radius: 0.2rem;
}
